@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker&display=swap');
body {
  background-color: red;
}
.card-group {
  float: left;
  width: 25%;
  position: relative;
  width: 400px;
  height: auto;
}
.card img {
  height: 400px;
  object-fit: cover;
}
.overlay{
  padding: 30px;
}
h5{
  font-family: 'Permanent Marker', cursive;
}
p{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}